/*************************************************
 * TITLE: Prosimii Alternative Screen Stylesheet * 
 * URI  : prosimii/prosimii-screen-alt.css       *
 * MODIF: 2004-Apr-28 21:56 +0800                *
 *************************************************/


/* ##### Common Styles ##### */

body {
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 73%;  /* Enables font size scaling in MSIE */
  margin: 0;
  padding: 0;
}

html > body {
  font-size: 9pt;
}

a {
  color: rgb(61,92,122);
  background-color: transparent;
  text-decoration: underline;
  margin: 0;
  padding: 0 1px 2px 1px;
}

a:hover {
 color: rgb(117,144,174);
 text-decoration: none;
}

ol {
  margin: 1em 0 1.5em 0;
  padding: 0;
}

ul {
  list-style-type: square;
  margin: 1em 0 1.5em 0;
  padding: 0;
}

dl {
  margin: 1em 0 0.5em 0;
  padding: 0;
}

ul li {
  line-height: 1.5em;
  margin: 1.25ex 0 0 1.5em;
  padding: 0;
}

ol li {
  line-height: 1.5em;
  margin: 1.25ex 0 0 2em;
  padding: 0;
}

dt {
  font-weight: bold;
  margin: 0;
  padding: 0 0 1ex 0;
}

dd {
  line-height: 1.75em;
  margin: 0 0 1.5em 1.5em;
  padding: 0;
}

.doNotDisplay {
  display: none !important;
}



/* ##### Header ##### */


.midHeader {
  color: white;
  background-color: rgb(61,92,122);
  margin: 0;
  padding: 0.26ex 10px;
}

.headerTitle {
  font-size: 300%;
  margin: 0;
  padding: 0;
}

/* ##### Main Copy ##### */

#main-copy {
  text-align: justify;
 /* margin: -0.5ex 1em 1em 30em;*/
  padding: 0.5em 10px;
/*  clear: left;*/
  float: left;
}

#main-copy h1 {
  color: rgb(117,144,174);
  background-color: transparent;
  font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
  font-size: 186%;
  margin: 0;
  padding: 1.5ex 0 0 0;
}

#main-copy h2 {
  color: rgb(61,92,122);
  background-color: transparent;
  font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
  font-weight: normal;
  font-size: 151%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1ex 1ex 1ex 1ex;
}

#main-copy p {
  line-height: 1.75em;
  margin: 1em 0 1.5em 0;
  padding: 0;
}

#comparison {
    padding-bottom: 1ex;
}
.center {
    margin-left:auto;
    margin-right:auto;
   
}
#fragment-5 {
    width: 600px;
}

#formtabs span {
    font-size: 85%;
}
